{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Title</title>
  </head>
  <body>
    {% for ticket in tickets %}
    <p>Ticket ID: {{ ticket.id }}</p>
    <p>Ticket Type: {{ ticket.ticket_type }}</p>
    <p>Ticket User: {{ ticket.user }}</p>
    <p>Your Seat: {{ ticket.seat }}</p>
    <p>Your Events: {{ ticket.event_name }}</p>
    <p>Purchased At: {{ ticket.purchased_at }}</p>

    <img
      src="data:image/png;base64,{{ qr_codes.forloop.counter0|get_qr_code_data|safe }}"
      alt="QR Code"
    />
    {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
