<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<div class="container">
  <link rel="stylesheet" type="text/css" href="./Sign_Up.css">
  <title>Sign Up</title>
</head>
<body>
    <header>
        <div id="logo">Ticket<span id="logo-s">Vista</span></div>
		<span class="sign"><a class="act" href="/Templates/Sign_Up.html">SIGN UP</a></span>
		<span class="sign"><a href="/Templates/Sign_In.html">SIGN IN</a></span>
    </header>
  <div class="container">
    <div class="sign-up-container">
      <h1 class="sign-up">Create Account</h1>
      <form>
        <input type="text" placeholder="Email or Username" required>
        <input type="tel" placeholder="Phone" required>
        <input type="password" placeholder="Password" required>
        <div class="show-password">
          <input type="checkbox" id="showPassword">
          <label for="showPassword">Show Password</label>
        </div>
        <button type="submit" class="sign-up-button">Create Account</button>
      </form>
      <div class="divider">
        <hr class="horizontal-line">
        <span class="or-text">or</span>
        <hr class="horizontal-line">
      </div>
      <button class="google-button">
        <img src="/Templates/7611770-removebg-preview.png" alt="Google Icon" class="google-image">
        Sign Up with Google
      </button>
      <p class="signup-text">Already have an account? <a href="/Templates/Sign_In.html">Sign In</a></p>
    </div>
  </div>
</body>
</html>
